@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');
.items-contendor p{
    margin: 0px 25px 0px 0px;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Roboto',sans-serif;
}
.items-contendor{
    padding: 50px 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
    text-transform: uppercase;
}
.nav a{
    margin: 0px 12px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Roboto',sans-serif;
    font-size: 0.9em;
    transition: all 0.3s;
}
.nav a:hover{
    color: #feca01;
}
.input-contenedor{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.input-contenedor input{
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-family: 'Roboto';
    border: none;
    font-size: 0.9em;
    transition: all 0.3s;
}
.input-contenedor input:hover{
    color: #feca01;
}
.content-contenedor{
    margin: 20px 0px;
}
.title-content{
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 4em;
    font-weight: 1000;
    font-family: 'Roboto',sans-serif;
}
.p-content{
    margin: 0;
    text-align: center;
    color: white;
    font-size: 1.4em;
    font-weight: 500;
    font-family: 'Roboto',sans-serif;
}
.box-contenedor{
    width: 60%;
    display: grid;
    margin: 80px auto;
    grid-template-columns: repeat(2,1fr);
    gap: 100px;
}
.cuestionario1-contendor{
    text-align: center;

}
.cuestionario2-contendor{
    text-align: center;
}
.cuestionario2-contendor h3{
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 1.2em;
    font-family: 'Roboto';
    margin-bottom: 0;
}
.cuestionario1-contendor h3{
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 1.2em;
    font-family: 'Roboto';
}
.cuestionario1-contendor h3 span, .cuestionario2-contendor h3 span {
    color: yellow;
    font-weight: bold;
}
.search{
    width:  80%;
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 20px auto;
    background-color: #e4e4e4;
    border: 2px solid #f6f6f6;
    transform: all 0.3s;
}
.search:focus-within{
    border:2px solid #feca01;
}
.input-buscador{
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    color: gray;
    font-size: .9em;
}
.cuestionario2-contendor hr{
    margin-top: 65px;
}
.button-catalogo{
    width: 89%;
    margin: auto;
}
.button-catalogo a{
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: 'Roboto';
    text-decoration: none;
    margin: 5px 0px;
    transition: all 0.3s;
}
.button-catalogo p{
    margin: 15px 10px;
}
.button-catalogo span{
    margin: 0px 10px;
}
.title-catalogo{
    margin-top: 50px;
    font-size: 1.3em;
}
.button-catalogo{
    margin-top: 20px;
    border: 1px solid #f6f6f6;
    font-size: 0.94em;
    transition: all 0.3s;
}
.button-catalogo:hover{
    background-color: white;
}
.button-catalogo a:hover{
    color: black;
}
.input-range-precio{
    display: flex;
    flex-direction: column;
}

.input-range-precio h3{
    text-align: left;
    margin: 0;
    font-family: 'Roboto';
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 10px;
}
.input-range-c h3{
    text-align: left;
    margin: 0;
    font-family: 'Roboto';
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 10px;
}

.input-range-c{
    display: flex;
    flex-direction: column;
}
.form-range-contenedor{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    margin-bottom: 35px;
}
.form-range input[type="submit"]{
    width: 90%;
    text-transform: uppercase;
    background-color: #feca01;
    color: black;
    padding: 20px 0px;
    font-weight: bold;
    font-family: 'Roboto';
    font-size: 1.1em;
    margin: auto;
    border: none;
    cursor: pointer;
}
.form-range input[type="submit"]:hover{
    background-color: #bb9600;
}
.button-buscar{
    margin-top: 20px;
    border: 1px solid #f6f6f6;
    font-size: 0.94em;
    transition: all 0.3s;
}
.button-buscar:hover{
    background-color: white;
}
.button-buscar a:hover{
    color: black;
}
.button-buscar a{
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: 'Roboto';
    text-decoration: none;
    margin: 5px 0px;
    transition: all 0.3s;
}
.button-buscar{
    width: 89%;
    margin: auto;
    padding-left: 5px;
}
.button-moto{
    margin: 2.188rem 0px;
}
.text-moto{
    color: white;
    font-size: 1.1em;
    font-family: 'Roboto';
    font-weight: bold;
    margin: 10px 0px;
}