body{
    margin: 0;
}
.contendor-header{
    height:110vh;
    width: 100%;
    background: 
    linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
    url('../public/157962-temporada_motogp_2019-equipo_suzuki_ecstar-suzuki_gsx_rr-neumatico-rueda-3840x2160.jpg') no-repeat center/cover;
}
